
    <meta name="description" content="Mors certa, vita incerta. Live fast and die weird.">
    <meta property="og:description" content="Mors certa, vita incerta. Live fast and die weird." />
⁸l    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://rootofpi.org" />


 :::(~)~~)~::: <a href="https://alephalpha0.space">loop();</a> &&& deferred subsequent desire to get away.<br /><br />
