{{ define "main" }}
{{ $enableComment := (partial "utils/comment_is_enabled" . ) }}
<main id="main">
  <div class="container has-padding">
    <div class="article-card post single">
      <h1 class="title">{{ .Title }}</h1>
      <div class="post-info">
        <span>{{ partial "utils/icons" "calendar-sharp" }}<time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="date">{{ .Date.Format "2006-01-02T15:04:05Z0700" }}</time></span>
        <span>{{ partial "utils/icons" "time-sharp" }}{{ i18n "reading time" .ReadingTime }}</span>
        {{ with (partial "utils/author" . ) }}
          <span>{{ partial "utils/icons" "person-sharp" }}{{.}}</span>
        {{end}}
        {{ with .Type }}
          <span>{{ . }} </span>
        {{ end }}
      </div>
      <article class="post-entry content">
        {{ .Content }}
      </article>
    </div>

    {{ if not (eq .Type "page") }}
      {{ partial "post_metadata.html" . }}
    {{ end }}
  </div>
</main>
{{ end }}
