@font-face{
	font-family: 'Monoid';
	src: url('/assets/Monoid_Ret_NF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; }
body {
    background-color: #000000;
    color:#AAAAAA;
    font-size: 16px; }
.monoid {
	font-family: Monoid, Mono; }
.ascii {
   font-family: Monoid, Mono;
   font-size:8pt;
   font-weight: bold; }
body > pre {
	color: #ffffff;
    font-weight: normal; }
.ansi2html-content {
    display: inline;
    white-space: pre;
    word-wrap: break-word; }
.ansi1 {
    font-weight: bold; }
.ansi31 {
    color: #CD0000; }
.ansi32 {
    color: #00CD00; }
.ansi33 {
    color: #CDCD00; }
.ansi34 {
    color: #0000EE; }
.ansi38-118 {
    color: #87ff00; }
.ansi38-244 {
    color: #808080; }
.ansi38--189147249 {
    color: #BD93F9; }
.inv_foreground {
    color: #000000; }
.inv_background {
    background-color: #AAAAAA; }
.footer {
    bottom:0%;
	left:40%;
	font-size:8px;
	font-weight:bold;
	letter-spacing:-1px;
	border-top: 1px solid #ccc; }
