<div class="meta article-card">
    <div class="row">
      <span class="label">{{ partial "utils/icons" "calendar-sharp" }} published on </span><time>{{ .PublishDate.Local.Format "2006-01-02T15:04:05Z0700" }}</time>
      {{ if ne .Lastmod .PublishDate }} &updated @<time>{{ .Lastmod.Local.Format "2006-01-02T15:04:05Z0700" }}</time>){{ end }}
    </div>
    
    {{ with .Params.tags }}
      <div class="row">
        <span class="label">{{ partial "utils/icons" "pricetags-sharp" }} tagged </span>
        <ul class="tags">
        {{ range . }}
          <li class="hashed-tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
      </div>
    {{ end }}

    <div class="row social-share">
      <span class="label">{{ partial "utils/icons" "share-sharp" }} spread the love around </span>
      {{ $tag_list := "" }}
      {{ with .Params.Tags }}
        {{ $tag_list = delimit . "," }}
      {{ end }}
      <a
        target="_blank"
        title="share to reddit"
        rel="noopener noreferrer"
        aria-label="share {{ .Title | plainify }} on reddit"
        href="https://reddit.com/submit?url={{ .Permalink }}&title=rootofpi_{{ .Title }}">
        {{ partial "utils/icons" "logo-reddit" }}
      </a>
      <a
        target="_blank" 
        title="share to twitter"
        rel="noopener noreferrer"
        aria-label="share {{ .Title | plainify }} on twitter"
        href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ .Permalink }}&amp;hashtags={{ $tag_list }}">
        {{ partial "utils/icons" "logo-twitter" }}
      </a>
    </div>

    {{ with .Site.Params.extraMeta }}
      <div class="row">
      {{ . | safeHTML }}
      </div>
    {{ end }}
</div>
